/* src/components/BecomeCreatorPopup.css */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #faf9f6; /* Lighter ivory background */
    padding: 20px;
    border-radius: 10px;
    color: #2c3e50; /* Darker text color */
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #2c3e50; /* Darker text color */
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #f2eee8; /* Lighter ivory */
    color: #2c3e50; /* Darker text color */
}

.submit-button, .close-button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #d4cfc1; /* Muted ivory */
    color: #2c3e50; /* Darker text color */
    border: none;
    border-radius: 30px;
    text-align: center;
    transition: background-color 0.3s;
}

.submit-button:hover, .close-button:hover {
    background-color: #c0b8a8; /* Slightly darker muted ivory */
}
