/* src/components/ConnectWallet.css */

.wallet-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
}

.wallet-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px;
    color: #2c3e50; /* Darker text color */
    position: relative;
}

.wallet-balance {
    margin-right: 20px;
    font-size: 14px;
    color: #6c7a89;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #e8e2d6; /* Muted ivory */
    text-align: center;
}

.wallet-account {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2eee8; /* Lighter ivory */
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 14px;
    color: #2c3e50; /* Darker text color */
    text-align: center;
    cursor: pointer;
}

.wallet-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f2eee8; /* Lighter ivory */
    color: #2c3e50; /* Darker text color */
    border: none;
    border-radius: 30px;
    text-align: center;
}

.wallet-button:hover {
    background-color: #e8e2d6; /* Slightly darker muted ivory */
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #faf9f6; /* Ivory background */
    border: 1px solid #e8e2d6; /* Muted ivory */
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-item {
    padding: 10px 20px;
    color: #2c3e50; /* Darker text color */
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #e8e2d6; /* Slightly darker muted ivory */
}

@media (max-width: 600px) {
    .wallet-container {
        flex-direction: column;
        padding: 10px;
    }

    .wallet-info {
        flex-direction: column;
        padding: 10px;
    }

    .wallet-balance, .wallet-account {
        margin: 5px 0;
        padding: 10px 15px;
    }

    .wallet-balance {
        margin-right: 0;
    }

    .wallet-button {
        padding: 10px;
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
    }

    .dropdown-menu {
        top: 60px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}
