/* src/components/Header.css */

.header {
    width: 100%; /* Adjusting the width to account for margins */
    background-color: #f8f5e1; /* Ivory background */
    height: 50px; /* Set a specific height */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the content vertically */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    border-radius: 10px; /* Rounded corners */
}

.header-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 20px; /* Reduced font size */
    color: #2c3e50; /* Darker text color */
    font-weight: bold;
    margin-right: 10px; /* Reduced margin */
    line-height: 1; /* Adjust line height */
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-link {
    margin: 0 10px; /* Reduced margin */
    font-size: 14px; /* Reduced font size */
    color: #2c3e50; /* Darker text color */
    text-decoration: none;
    position: relative;
    line-height: 1; /* Adjust line height */
    padding: 5px 10px; /* Padding for hover effect */
    transition: background-color 0.3s ease; /* Removed color transition */
    border-radius: 5px; /* Rounded corners for background box */
}

.header-link:hover {
    background-color: #e8e2d6; /* Background color on hover */
    text-decoration: none; /* Remove underline on hover */
}

.header-actions {
    display: flex;
    align-items: center;
}

.creator-button {
    padding: 5px 10px; /* Reduced padding for less height */
    font-size: 14px; /* Reduced font size */
    cursor: pointer;
    background-color: #d4cfc1; /* Muted ivory */
    color: #2c3e50; /* Darker text color */
    border: none;
    border-radius: 30px;
    text-align: center;
    margin-left: 15px;
    transition: background-color 0.3s;
}

.creator-button:hover {
    background-color: #c0b8a8; /* Slightly darker muted ivory */
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    .header-nav {
        margin-top: 10px;
        justify-content: center;
    }

    .header-link {
        margin: 5px 10px;
    }

    .header-actions {
        flex-direction: column;
        margin-top: 10px;
    }

    .creator-button {
        margin-left: 0;
        margin-top: 10px;
    }
}
